# In this notbook we will make a smaller sample from 39.7 Millions row of 2022 New York yellow Taxi trips.

In [1]:
# Importing Important Libraries
import pandas as pd
import random

In [2]:
# Global Variables
random_seed = 42

In [3]:
# We set random seed to ensure that results are reproducible.
random.seed(random_seed)

In [4]:
# The Number of Rows in our large CSV file (approximately)
n = 39700000
# The Sample Size (approximately)
s = 1000000
# Make random list of indexes to skip it from the large dataset Because Pandas read_csv function doesn't have keeprows
# argument Instead it has skiprows argument
skip_rows = sorted(random.sample(range(1,n),(n-s)))

In [5]:
# Reading our big Dataset and skip rows with indexes equal to skip_rows list
df = pd.read_csv('2022_Yellow_Taxi_Trip_Data.csv', skiprows = skip_rows)
df.shape

(998859, 19)

In [6]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,01/01/2022 12:40:12 AM,01/01/2022 01:07:08 AM,1.0,5.43,1.0,N,68,263,1,21.0,0.5,0.5,4.00,0.0,0.3,28.80,2.5,0.0
1,1,01/01/2022 12:31:53 AM,01/01/2022 12:36:31 AM,0.0,1.30,1.0,N,140,229,1,6.0,3.0,0.5,2.90,0.0,0.3,12.70,2.5,0.0
2,2,01/01/2022 12:43:07 AM,01/01/2022 12:51:17 AM,1.0,1.86,1.0,N,239,237,1,8.5,0.5,0.5,2.46,0.0,0.3,14.76,2.5,0.0
3,2,01/01/2022 12:36:17 AM,01/01/2022 12:41:48 AM,2.0,1.30,1.0,N,249,90,1,6.0,0.5,0.5,0.00,0.0,0.3,9.80,2.5,0.0
4,2,01/01/2022 12:55:14 AM,01/01/2022 01:11:18 AM,1.0,4.58,1.0,N,161,24,1,16.0,0.5,0.5,3.96,0.0,0.3,23.76,2.5,0.0

In [7]:
# Saving our random sample to csv file to further analysis
df.to_csv('Random_Sample_2022_Yellow_Taxi_Trip_Data.csv')